{% extends "layout.html" %}
{% block head %}
<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
<style>
        table.full-width{
            width: 100%;
        }
        img.team-logo{
            height: 30px;
        }
        p.record{
            font-weight: "normal";
        }
</style>
<script>
    $(document).ready(function() {
        $('#rank-table').DataTable(
            {
                "pageLength": 25,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "order": [[ 1, "asc" ]],
                fixedHeader: {
                    header: true,
                    footer: true
                }
            }
        );
    } );
</script>
{% endblock %}
{% block title %}Transitivity Rankings{% endblock %}
{% block body %}
    <h1>CFB Transitivity Rankings</h1>
    <p>Games involving two FBS teams only.</p>
    <p>Confused? Learn about the methodology <a href="{{ url_for('about_rank_page') }}">here</a>.</p>
    <div class="row">
        <div class="col-xs-12">
            {{ table|safe }}
        </div>
    </div>
{% endblock %}